.w-vw100 {
  width: 100vw;
}

.w-100per {
  width: 100%;
}

.h-vh100 {
  height: 100vh;
}

.h-100per {
  height: 100%;
}

.h-vhfill {
  height: calc(100vh - 56px);
}

.h-1-25em {
  height: 1.25em;
}

.h-50px {
  height: 50px;
}
